@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      <form asp-action="Add" method="post">
      <div class="mb-4">
          <input type="text" name="titolo" class="form-control" placeholder="Titolo"/>
          <input type="text" name="autore" class="form-control" placeholder="Autore"/>
          <input type="text" name="genere" class="form-control" placeholder="Genere"/>
          <input type="number" name="prezzo" class="form-control" placeholder="Prezzo" step="any"/>
          <button type="submit" class="btn btn-primary">Salva</button>
      </div>
    </form>
</div>
</body>
</html>
